.app-wrapper{
  text-align: center;
    font-family: serif;
}
.postfooter{
  display: flex;
  justify-content: flex-start;
}
.postfooter>img{
  width: 30px;
  height: 25px;
  cursor: pointer;
  margin-right: 10px;
  
}
.post-img{
  width:100%;
  min-height:300px;
}
.postbody{
  width: 50%;
  margin: auto;
  margin-top: 25px;
}
.viewall{
  text-align: left;
  cursor: pointer;
  color: #9f9b9b;
  width: fit-content;
}
.comment-display{
  text-align: left;
}
.post-modal{
  display: flex;
  height: 97%;
  align-items: center;
}
.comment-wrapper{
  height: 100%;
    width: 60%;
}
.comment-section{
  height: 80%;
  width: 100%;
    border-left: 0.5px solid #d5d5d5;
    padding-top: 35px;
    margin-left: 5px;
    overflow-y: scroll;
    padding-left: 10px;
}
.post-comment{
  display: flex;
    border-left: 0.5px solid #d5d5d5;
    border-top: 0.5px solid #d5d5d5;
    height: 5%;
    margin-left: 5px;
    padding: 35px;
    justify-content: space-between;
    align-items: center;

}
.post-comment input{
  width: 80%;
    height: 40px;
    border: none;
    font-size: 15px;
}
.post-comment input:focus{
  outline: none;
}
.post-text-active{
  color: rgba(var(--d69,0,149,246),1);
  font-weight: 600;
  cursor: pointer;
}
.post-text{
  color: rgba(var(--d69,0,149,246),0.5);
  font-weight: 600;
cursor: default;
}
.comment-options{
  display: flex;
    font-size: 14px;
    color: #8e8e8e;
    margin-top: 10px;
    margin-bottom: 20px;
}
.comment-options div{
  margin-right: 10px;
  cursor: pointer;
}
.reply-display{
  text-align: left;
}
.reply-options{
  display: flex;
    font-size: 14px;
    color: #8e8e8e;
    margin-top: 10px;
    margin-bottom: 20px;
}
.reply-options div{
  margin-right: 10px;
  cursor: pointer;
}